.attractions {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1rem;
	div {
		background: var(--black);
		padding: 2rem 1rem;
		border-radius: 0.1rem;
		a {
			color: var(--white);
		}
	}
}