.gameWrap {
	background: var(--black);
  padding: 1rem 0;
  display: grid;
  place-content: center;
  grid-auto-flow: row;
  grid-template-rows: 5rem 1fr;
}
.tileGrid {
  display: grid;
  place-content: center;
  padding: 0.2rem;
  border-radius: 0.2rem;
  background: var(--gray);
  grid-auto-rows: 3.6rem;
  grid-gap: 0.1rem;
  div {
    border-radius: 0.2rem;
    display: grid;
    // border: 0.1rem solid #e1e1e1;

    align-content: flex-end;
    justify-content: center;
    grid-auto-flow: column;
    transition: background 0.15s ease-out;
    padding: 0.1rem;
    position: relative;
    cursor: pointer;

    &:focus {
      // tried to hide focus for mouse only but things get messy.
      // leave the focus alone.
    }
    // &:focus:not(:focus-visible) {
    //   // unset the above
    //   // outline: unset;
    // }

    // // when being controlled by keyboard use default browser focus.
    // &:focus-visible {
    //   outline: 0.1rem solid var(--black);
    // }

    .date {
      font-size: 0.6rem;
      color: var(--black);
      position: absolute;
      top: 0;
      left: 0.2rem;
      font-weight: 600;
    }
    .nasties {
      font-size: 0.9rem;
      font-weight: bold;
      width: 1.1rem;
      padding: 0.2rem;
      height: 1.1rem;
      display: grid;
      place-content: center;
      border-radius: 0.2rem;
    }
    .spanWrap {
      display: grid;
      grid-auto-flow: column;
      place-content: center;
      align-self: flex-end;
    }

    span[aria-label='Umbrella emoji'] {
      font-size: 0.8rem;
    }
  }
  .wetTile {
    background: var(--white);
    &:focus{
      background: pink;
    }
  }
  .dryTile {
    background: var(--white);
    &:focus{
      background: pink;
    }
  }
  .checked {
    border: 0.1rem solid white;
    border-style: inset;
    background: var(--gray);
    transition: none;
  }
}