.date {
  font-size: 0.7rem;
  color: var(--lightBlack);
  font-weight: 700;
  letter-spacing: -0.8px;
}

.checked {
  border: 0.1rem solid white;
  border-style: inset;
  background: var(--gray);
  border-radius: 0.2rem;
  transition: none;
  box-shadow: none;
}
.nasties {
  font-size: 1.2rem;
  font-weight: 900;
  height: 1.2rem;
  display: grid;
  place-content: center;
  border-radius: 0.2rem;
  display: grid;
}
.tile {
  border-radius: 0.2rem;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-auto-flow: row;
  transition: all 0.15s ease-out;
  padding: 0.1rem;
  position: relative;
  border: 1px outset var(--white);
}
.tile:focus {
  // outline: none;
  // border: 2px solid var(--red);
}

// Remove browser default outline so there's no focus when using mouse.
.tile:focus {
 outline: none;
}

// For keyboard focus, use border.
.tile:focus-visible {
  border: 2px solid var(--lightBlack);
}

.tile.checked {
  box-shadow: none;
  border-style: inset;
}
